<!doctype html>
<html>
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  </header>
  
  <body ng-app="">
    One of the cool things about Angularjs is how it handles two-way binding. This means that it can bind elements to a Javascript variable and automatically update them whenever they change. 
    <br>
    Type in the textbox below and see how the text below the box changes. 
    This is because the text box is bound to a variable called "name".<br>
    <hr>
    Type a name in this box: 
    <input type="text" ng-model="name"><br>
    Name: {{name}}<br>
    
    <hr>
    Your turn. See if you can bind this text box to the variable "color"
    <br>
    Type a color in this box: 
    <input type="text" ng-model="color"><br>
    Color: {{color}}

  </body>

</html>
